{{!< default}}

<div class="logo">
    <h1>Oh NO!, 404 !</h1>
</div>
<p class="text-muted">这个页面好像不见了呢！</p>
<div class="btn-group">
    <a href="{{@blog.url}}" class="btn btn-primary">去首页看看吧！</a>
</div>
